.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage {
  margin-right: 10%;
  margin-left: 10%;
}
.mainBox{
  border-left: solid  gray;
  padding-left: 1em;

}

.textHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.textTitle {
  color: red;
  font-size: 80px;
  font-weight: 100;
  padding-left: 1%;
  margin-bottom: 0;
}

.textSubtitle {
  font-weight: 100;
  padding-left: 1%;
  margin-top: 0;
}



.textNav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  text-align: left;
  padding-left: 0;
}

.dateOne {
  color: gray;
  display: flex;
  justify-content: left;
  
}
.titleOne {
  font-size: 45px;
  font-weight: 100;
  display: flex;
  justify-content: left;
}
.img1 {
  width: 100%;
  height: 20%;
}
.firstLetterLarge {
  font-size: 4rem; /* Adjust the size as desired */
  float: left;
  line-height: 0.8;
  margin-right: 0.2rem;
}
.Lorem {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
  padding: 1%;
  font-weight: 300;
  margin: 0;
  color: gray;
  font-family: 'Merriweather', serif; /* Added a fancy font */
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 1%;
}
.continues {
  display: flex;
  justify-content: right;
}
.box3 {
  border-bottom: solid gray;
  padding-bottom: 2em;
}
.box4 {
  border-bottom: solid gray;
  padding-bottom: 2em;
}

.continues a{
  text-align: right;
  color: red;
  font-weight: 500;
}
.dateTwo {
  color: gray;
  display: flex;
  justify-content: left;
  padding-top: 1em;
}
.titleTwo {
  font-size: 45px;
  font-weight: 100;
  display: flex;
  justify-content: left;
}
.img2 {
  width: 100%;
  height: 20%;
}

.textNav a {
  color: gray;
  font-size: large;
}

.footerBar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  text-align: left;
  padding-left: 0;
}

.footerBar a {
  color: red;
  font-size: medium;
}

.rights{
  color: gray;
  text-align: left;
  font-size: large;
  font-weight: 200;
  margin-left: 1em;
}